body{
    margin: 0;
    padding: 0;
    background-color: bisque;
}
.game-section{
    display: grid;
    padding: 20px;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;

    justify-content: center;
}

.card{
    border:1px solid black;
    border-radius: 5px;
    background-color: white;
    width: 150px;
    height: 150px;
    font-size: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.card-back{
    background-color: gray;
    color: transparent !important;
}

.card-face {
    background-color: white !important;
    color: white !important;
}
